<h5 class = "font-weight-bold">マイリスト</h5>
<div class="table-responsive">
  <table class="table">
    <tr>
      <% current_user.lists.each do |list| %>
        <td>
          <%= list.recipe.recipe_name %></br>
          <%= link_to recipe_path(list.recipe) do %>
            <div class = "menu__body--box">
              <%= image_tag list.recipe.get_image(150, 150) ,class: "shadow mb-5 bg-body round" %>
            </div>
          <% end %>
        </td>
      <% end %>
    </tr>
  </table>
</div>