<div class="main-container p-5">
	<h1 class="menu__top--title">一週間の献立予定</h1>
	<div class ="text-center">
	  <%= link_to '一ヶ月の予定', user_menus_path(current_user.id), class: 'btn application__generic--btn' %>
	</div>
	<div class ="row">
	  <div class="col-md-12 col-sm-12 col-xs-12", id ="week_index">
  		<%= render 'week_index', menus: @menus, obj: @menu%>
    </div>
	</div>
	<div class ="row">
	  <div class ="col-lg-5 col-md-5", id= "menu_form">
	    <%= render 'menu_form', menu: @menu %>
	  </div>
	  <div class ="col-lg-5 col-md-5 offset-md-1", id= "menu_mylists">
	    <%= render 'mylists' %>
	  </div>
	</div>
</div>