<tr class = "nested-fields">
  <td>
    <%= f.collection_select :food_id, Food.all.order(:unit), :id, :food_name, {prompt: "材料名を選んでください"} %>
  </td>
  <td>
    <%= f.text_field :quantity, size: '10'%>
  <td>
    <%= link_to_remove_association '削除', f, class: 'btn btn-danger' %>
  </td>
</tr>