<div class ="container">
  <div class ="row p-5">
    <div class = "col-10 mx-auto">
      <div class="card text-white">
        <%= image_tag "oriento-dPUWgZLsOk8-unsplash.jpg", id: "about__top--img" %>
        <div class="card-img-overlay">
          <h1 class="about__top--title">献立作りが楽しくなる</h1>
          <p class ="about__top--content">
            サイトを作ったのは、</br>
            母が「毎日違った献立を立てるのは面倒臭い」</br>
            「何を作ったのか覚えてなくて、</br>
            気づいたら同じような献立のローテーションになっている」</br>
            とよく口にしていたのがきっかけでした。</br>
            "楽しく"献立を作れるサイトがあれば</br>
            同じ悩みを抱える方達の役に立ち、多くの人に利用して頂けると</br>
            思いこのサイトを制作しました。</br>
            利用者様の使い勝手がいいように、親しみやすく</br>
            すっきりとした見た目のサイトになっております。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class ="row p-5"></div>
  <div class ="row">
    <div class ="col-8 mx-auto">
      <h1 class = "about__body--title text-center">使い方</h1>
      <%= image_tag "STEP1.png", id: "about__body--img" %>
    </div>
  </div>
  <div class ="row p-5"></div>
  <div class ="row">
    <div class ="col-8 mx-auto">
      <%= image_tag "STEP2.png", id: "about__body--img" %>
    </div>
  </div>
  <div class ="row p-5"></div>
  <div class ="row">
    <div class ="col-8 mx-auto">
      <%= image_tag "STEP3.png", id: "about__body--img" %>
    </div>
  </div>

</div>