<!--<div class="card text-dark">-->
  <!--<%#= image_tag "22502827_s.jpg",size: "1200x600",class: "mx-auto" %>-->

  <!--<div class="card-img-overlay mx-auto d-flex align-items-center justify-content-center flex-column">-->

  <!--    <h1 class="card-title font-weight-bold">About</h1>-->
  <!--    <p class="card-text font-weight-bold">晩御飯は献立サイトです。<br>-->
  <!--      登録した献立予定をカレンダーで簡単に確認することができます。<br>-->
  <!--      また会員様同士でレシピを共有して楽しむこともできます。<br>-->
  <!--      ぜひご利用ください。-->
  <!--    </p>-->

<!--  </div>-->
<!--</div>-->
<div class ="container">
  <div class ="row p-5">
    <div class = "col-4 mx-auto">
      <h1 class ="about-title">
        献立作りが</br>楽しくなる
      </h1>
      <p>「毎日違った献立を立てるのは面倒臭い」</br>
          「何を作ったのか覚えてなくて、気づいたら同じような献立のローテーションになっている」</br>
          そんな悩みを抱える主婦や一人暮らしの方の役に立ちたいと思いこのサイトを制作しました。</br>
          このサイトを使えば思わずレシピを書いて共有したくなるはずです。
      </p>
    </div>
    <div class ="col-8 offset-1 p-3 mx-auto">
      <%= image_tag "jason-briscoe-GliaHAJ3_5A-unsplash.jpg", id: "img-top" %>
    </div>
  </div>

</div>