<%= form_with model: food, local: false do |f| %>
  <table class = "table table-borderless table-sm">
    <td><%= f.text_field :food_name, placeholder: "材料名を記入", class: "food_name" %></td>
    <td><%= f.text_field :unit, placeholder: "単位を記入", class: "food_unit" %></td>
    <td><%= f.submit '追加する', class: 'btn btn-primary btn-sm' %></td>
  </table>
  <p>※調味料は単位を入れないでください</p>
<% end %>
