@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.nav-item:hover {
  font-size: 20px;
}

.nav-item .text-white{
  font-family: ヒラギノ角ゴシック, sans-serif;
}


body{
  padding-bottom: 100px;
}

#footer{
  margin-top: auto;
}

.one-container{
  background-image: url("../../assets/images/23442175_m.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255,255,255,0);
  background-blend-mode: lighten;
}

#week_index, #month_index{
  background-color: #fff;
}

body{
  font-family: ヒラギノ明朝 ProN, Hiragino Mincho ProN, sans-serif;
  color: #6c6c6c;
}

#side-bar{
  position: sticky;
  text-decoration: none;
}

.side-text{
  font-size: 1.0rem;
  position: fixed;
  right: 24px;
  top: 20px;
  writing-mode: vertical-rl;
  color: #000;
  list-style-type: none;
}

.side-text:hover{
  text-decoration: none;
  font-size: 1.1rem;
}