// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.favorites__top--title{
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 50px;
  animation: SlideIn 4.8s;
}