// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#home__top--img{ //top-main
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.home__top--link{ //link
  animation: SlideIn 4.8s;
  color: #fff;
  font-size: 40px;
}

.home__top--link:hover{ //link:hover
  text-decoration: none;
  color: #fff;
  font-size: 45px;
}

.home__top--center{ //p-top
  animation: SlideIn 4.8s;
  font-family: ヒラギノ明朝 ProN, Hiragino Mincho ProN, sans-serif;
}

.home__top--scrolldown{ //scrolldown1
	position: absolute;
	left: 50%;
	bottom: 10px;
	height: 100px;
}

.home__top--scrolldown span{
	position: absolute;
	left: -15px;
	top: -15px;
	color: #eee;
	font-size: 0.7rem;
	letter-spacing: 0.05em;
}

//動く線をafterで追加する
.home__top--scrolldown::after{
	content: "";
	position: absolute;
	top: 0;
	width: 1px;
	height: 30px;
	background: #eee;
	animation: pathmove 2.8s ease-in-out infinite;
	opacity:0;
}

@keyframes pathmove{
	0%{
		height:0;
		top:0;
		opacity: 0;
	}
	30%{
		height:30px;
		opacity: 1;
	}
	100%{
		height:0;
		top:50px;
		opacity: 0;
	}
}

.home__body--title{ //about-title
  color: #000;
  line-height: 1.5;
  font-feature-settings: "palt";
  letter-spacing: 0.12em;
  margin-top: 50px;
  animation: SlideIn 6.4s;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dcdcdc;
}

//top-content{
//   bacground-color: #f5f5f5;
//   border-bottom: 1px solid #dcdcdc;
// }

#home__body--link{ //image-link
	width:			500px;
	overflow:		hidden;
	margin:			10px 8px 10px 16px;
	position:		relative;
}

#home__body--link .home__body--caption {
	font-size:		130%;
	text-align: 		center;
	color:			#fff;
	font-family: ヒラギノ明朝 ProN, Hiragino Mincho ProN, sans-serif;
}

#home__body--link .home__body--mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	opacity:		0;
	background-color:	rgba(0,0,0,0.3);
	-webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;
}

#home__body--link:hover .home__body--mask {
	opacity:		1;
	padding-top:		80px;
}

#home__body--img{ //img-top
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about__top--img{ //img-top
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__top--title{ //text
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 50px;
  animation: SlideIn 4.8s;
}

.about__body--title{ //recipe-title
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 50px;
  color: #6c6c6c;
}

#about__body--img{ //img-top
  width: 100%;
  height: 100%;
  object-fit: cover;
}












