// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.list__top--title{ //text
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 50px;
  animation: SlideIn 4.8s;
}

.list__body--box{ //recipe-box
  margin: 20px;
  transition-duration: 0.5s;
}

.list__body--box img{
  cursor: pointer;
}

.list__body--box:hover img{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

#list__body--img:hover{ //link
  font-size: 30px;
}

.list__body--title{ //recipe-title
  border-bottom: 1px solid #dcdcdc;
  color: #6c6c6c;
}