// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.recipe_image{
  width: 300px;
  margin: 10px 20px;
  padding: 20px;
  height: 220px;
  }